header {
    background-color: #3C68D3;
    height: auto;
    padding: 0;

    .header-image {
        max-width: 100px;
        padding: 15px 0;
    }
}

.top-bar {
    &.expanded {
        margin-bottom: 50px;
        background-color: #324e93;

        ul {
            li {
                a {
                    background-color: #324e93;
                }
            }
        }
    }
}

.button {
    border-radius: 2px;
    background-color: #3C68D3;

    &:hover {
        background-color: #324e93;
    }
}